
.home-navbar{
  background: #000;
}


.posts-section .post-item .card-title {
  color: var(--primary-color);
}

/* Add box shadow on card hover */
.posts-section .post-item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Zoom card image when hover on card */
.posts-section .post-item {
  overflow: hidden;
}
.posts-section .post-item .card-img-top {
  height: 200px;
  width: auto;
  transition: all 0.5s;
}
.posts-section .post-item:hover .card-img-top {
  transform: scale(1.1);
}

/* Show menu on card hover */
.posts-section .post-item {
  position: relative;
}

.posts-section .post-item .post-item-menu {
  transform: scale(1);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .posts-section .post-item .post-item-menu {
    transform: scale(0.5);
    opacity: 0;
  }

  .posts-section .post-item:hover .post-item-menu {
    transform: scale(1);
    opacity: 1;
  }
}

.posts-section .post-item-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;

  transition: all 0.5s;
  transform: scale(0.5);
  transform-origin: top;
  opacity: 0;
}

.posts-section .post-item-menu .menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;

  color: rgba(255, 255, 255, 0.5);
  background-color: #444;

  transition: all 0.35s;
  opacity: 0.7;
}

.posts-section .post-item-menu .menu-item:hover {
  color: white;
  background-color: black;
  opacity: 1;
}

/**************
  POSTS NAV
*/

/* Use primary color for page link */
.posts-nav .page-item.active .page-link {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.posts-nav .page-item .page-link {
  color: #444;
}

/* Change color for page link if page item is not active */
.posts-nav .page-item:not(.active) .page-link:hover {
  color: var(--primary-color);
}

/* set the max line of the decription */
.card-text.card-decription{
  width:100%;
  white-space: pre-wrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

/* reCss the UI of list */
#postsList .card{
  border: none;
}
.card .card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

#postsList{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
}
#postsList > li{
  padding: 15px;
}


/* slider */
.slider-wapper {

  overflow: hidden;
  height: 350px;
  max-width: 100%;
  margin-bottom: 3rem;

  
  position: relative;
}
.slider-wapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background:linear-gradient(to top, rgba(0, 0, 0, 0.39), rgba(255, 255, 255, 0.219));
  
  text-align: center;
  z-index: 1;

}
.carousel-inner{
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.slider-wapper__text{
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-wapper__text h5{
  margin-top: 3rem;
}

.slider-wapper .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lastest-post{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: underline 1px ;
  z-index: 1;
  color: white;
}
/* edit button */
.button-wapper{
  margin: 1rem;
}

.button-edit, .button-remove{
padding: 0.2rem 1rem;
font-weight: 500;
font-size: 1rem;
margin-right: 0.5rem;

color:white;
border-radius: 30px;
transition: 0.2s ease-in-out;

}

.button-edit {
  color: rgb(87, 87, 255);
  background: rgba(87, 87, 255, 0.356);
}

.button-remove{
  color: rgb(255, 74, 74);
  background: rgba(255, 0, 0, 0.219);
}

.button-edit:hover, .button-remove:hover{
  transform: scale(1.1) ;
  
}

.input-label{
  color: rgb(87, 87, 255);
  background: rgba(87, 87, 255, 0.356);
  font-weight: 600;

}
/* set hover effect */
.disabled {
  cursor: default;
}

